BOT_TOKEN=
DB_FILE_PATH=../dis-bot-assets-private/sqlite.db
ASSETS_PRIVATE_DIR=/home/user/repo/dis-bot-assets-private
PRIVATE_COMMANDS_DIR=/home/user/repo/dis-bot-assets-private/commands
BF6_PLAYERS_CONFIG_PATH=/home/user/repo/dis-bot-assets-private/config/bf6players.json
